target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

logs/
.mvn/

/data/database.dat
/data/bilibili_cnki_reply.json
/src/main/resources/application-dev.yml
/src/main/resources/application-pro.yml
/docker/mysql/data
/docker/redis/data
sync.sh
